@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background: linear-gradient(0deg, #40DFFF,#25abff) no-repeat;
  overflow: hidden;
}

.fadeOut{
  opacity:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
  opacity:1;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}
