@tailwind base;
@tailwind components;
@tailwind utilities;

body, .bg {
  background: linear-gradient(100deg, #40DFFF,#25abff) repeat;
  overflow: hidden;
}

.fadeOut{
  opacity:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
  opacity:1;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}

/* button {
  background-color: var(--bs-btn-bg) !important;
}

button:hover {
  background-color: var(--bs-btn-hover-color) !important;
} */